<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <title>Permissions</title>
</head>
<body>
    <div layout:fragment="content">
        <th:block th:with="activePage='permissions'"></th:block>
        
            <div class="app-content">
                <div class="container-fluid">
                  <div class="row mb-3">
                      <div class="col-12 text-end">
                          <button class="btn btn-primary" onclick="openAddModal()">
                              <i class="bi bi-plus-lg"></i> Thêm Quyền
                          </button>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <div class="card">
                              <div class="card-header">
                                  <h3 class="card-title">Danh Sách Quyền</h3>
                              </div>
                              <div class="card-body p-0">
                                  <div class="table-responsive">
                                      <table class="table table-striped align-middle">
                                          <thead>
                                              <tr>
                                                  <th>Mã Quyền</th>
                                                  <th>Tên Quyền</th>
                                                  <th>Module</th>
                                                  <th>Mô Tả</th>
                                                  <th>Trạng Thái</th>
                                                  <th>Hành Động</th>
                                              </tr>
                                          </thead>
                                          <tbody id="permissionTable"></tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            
    </div>
</body>
</html>