<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản Lý Học Sinh</title>
</head>
<body>
    <div th:replace="~{admin/layout :: sidebar}"></div>
    
    <div th:replace="~{admin/layout :: main-content}">
        <div th:fragment="page-content" class="container-fluid">
            <h3>Danh sách sinh viên</h3>

                <button class="btn btn-primary mb-3" onclick="openAddModal()">
                    <i class="fa fa-plus"></i> Thêm sinh viên
                </button>

                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>Code</th>
                        <th>Họ tên</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Địa chỉ</th>
                        <th>Trạng thái</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="studentTable"></tbody>
                </table>
            </div>
        </div>
    </div>

    <th:block th:replace="~{admin/layout :: scripts}"></th:block>
</body>
</html>