USE [master]
GO
/****** Object:  Database [schoolmanager]    Script Date: 5/13/2026 11:51:26 PM ******/
CREATE DATABASE [schoolmanager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'schoolmanager', FILENAME = N'D:\TAT_CA_UNG_DUNG\SQL_SERVER\MSSQL17.SQLEXPRESS\MSSQL\DATA\schoolmanager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'schoolmanager_log', FILENAME = N'D:\TAT_CA_UNG_DUNG\SQL_SERVER\MSSQL17.SQLEXPRESS\MSSQL\DATA\schoolmanager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [schoolmanager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [schoolmanager]
GO
/****** Object:  Table [dbo].[academic_years]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[academic_years](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[year] [nvarchar](20) NULL,
	[description] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[advisor_classe_sections]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[advisor_classe_sections](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NOT NULL,
	[student_classe_id] [uniqueidentifier] NOT NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buildings]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buildings](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[address] [nvarchar](200) NULL,
	[total_floors] [tinyint] NULL,
	[building_type] [varchar](10) NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_sections]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_sections](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NULL,
	[course_id] [uniqueidentifier] NULL,
	[semester_id] [uniqueidentifier] NULL,
	[academic_year] [nvarchar](20) NULL,
	[room_id] [uniqueidentifier] NULL,
	[building_id] [uniqueidentifier] NULL,
	[max_students] [int] NOT NULL,
	[min_students] [int] NULL,
	[class_type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[registration_start] [datetime2](7) NULL,
	[registration_end] [datetime2](7) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [uniqueidentifier] NOT NULL,
	[department_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NULL,
	[name] [nvarchar](255) NULL,
	[name_en] [nvarchar](255) NULL,
	[credits] [decimal](5, 1) NULL,
	[course_type] [varchar](20) NULL,
	[theory_hours] [decimal](5, 1) NULL,
	[practice_hours] [decimal](5, 1) NULL,
	[self_study_hours] [decimal](5, 1) NULL,
	[internship_credits] [decimal](5, 1) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[established_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_positions]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_positions](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NULL,
	[position_id] [uniqueidentifier] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[department_id] [uniqueidentifier] NULL,
	[position_id] [uniqueidentifier] NULL,
	[hire_date] [date] NULL,
	[contract_type] [nvarchar](255) NULL,
	[salary_coefficient] [decimal](4, 2) NULL,
	[academic_degree] [nvarchar](100) NULL,
	[academic_title] [nvarchar](100) NULL,
	[specialization] [nvarchar](255) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_papers]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_papers](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[exam_id] [uniqueidentifier] NOT NULL,
	[file_url] [varchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[paper_code] [varchar](20) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_registration]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_registration](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[exam_id] [uniqueidentifier] NOT NULL,
	[exam_room_id] [uniqueidentifier] NOT NULL,
	[is_active] [bit] NOT NULL,
	[roll_number] [varchar](20) NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_registrations]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_registrations](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[exam_id] [uniqueidentifier] NOT NULL,
	[exam_room_id] [uniqueidentifier] NOT NULL,
	[is_active] [bit] NULL,
	[roll_number] [varchar](20) NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_results]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_results](
	[id] [uniqueidentifier] NOT NULL,
	[appeal_status] [varchar](20) NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[graded_at] [datetime2](6) NULL,
	[graded_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
	[is_locked] [bit] NULL,
	[registration_id] [uniqueidentifier] NOT NULL,
	[score] [float] NULL,
	[status] [varchar](20) NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_rooms]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_rooms](
	[id] [uniqueidentifier] NOT NULL,
	[capacity] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[exam_id] [uniqueidentifier] NOT NULL,
	[exam_room_name] [varchar](255) NULL,
	[is_active] [bit] NULL,
	[room_id] [uniqueidentifier] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_types]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_types](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[name] [nvarchar](100) NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exams]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exams](
	[id] [uniqueidentifier] NOT NULL,
	[course_class_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[duration_minutes] [int] NULL,
	[end_time] [time](7) NULL,
	[exam_date] [date] NOT NULL,
	[exam_format] [varchar](20) NULL,
	[exam_status] [varchar](20) NULL,
	[exam_type_id] [uniqueidentifier] NOT NULL,
	[is_active] [bit] NULL,
	[semester_id] [uniqueidentifier] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[supervisor_count] [int] NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lecturer_course_classes]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lecturer_course_classes](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NULL,
	[course_class_id] [uniqueidentifier] NULL,
	[role] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[majors]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[majors](
	[id] [uniqueidentifier] NOT NULL,
	[department_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[effective_date] [varchar](20) NULL,
	[expiry_date] [varchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](100) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[module] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[level] [nvarchar](100) NULL,
	[department_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[permission_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[is_system] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[building_id] [uniqueidentifier] NULL,
	[floor_floor_number] [int] NULL,
	[capacity] [int] NULL,
	[type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[has_projector] [bit] NULL,
	[has_air_conditioner] [bit] NULL,
	[has_computer] [bit] NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedules](
	[id] [uniqueidentifier] NOT NULL,
	[course_section_id] [uniqueidentifier] NULL,
	[employee_id] [uniqueidentifier] NULL,
	[room_id] [uniqueidentifier] NULL,
	[day_of_week] [int] NULL,
	[date] [date] NULL,
	[shift] [nvarchar](50) NULL,
	[start_period] [int] NULL,
	[end_period] [int] NULL,
	[number_of_periods] [int] NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[mode] [nvarchar](100) NULL,
	[status] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[schedule_status] [varchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[school_years]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[school_years](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[semesters]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[semesters](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[school_year_id] [uniqueidentifier] NULL,
	[school_year_name] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_classe_sections]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_classe_sections](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[student_classe_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_classes]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_classes](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[academic_year_id] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[major_id] [uniqueidentifier] NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[employee_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_course_sections]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_course_sections](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[course_section_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](50) NULL,
	[registered_at] [datetime] NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [datetime2](6) NULL,
	[gender] [nvarchar](10) NULL,
	[personal_identification_number] [varchar](20) NULL,
	[date_of_issue] [datetime2](6) NULL,
	[card_place] [nvarchar](100) NULL,
	[address] [nvarchar](300) NULL,
	[current_address] [nvarchar](300) NULL,
	[academic_year_year] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[major_id] [uniqueidentifier] NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[status] [varchar](50) NULL,
	[student_classe_id] [uniqueidentifier] NULL,
	[admission_year] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_program_courses]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_program_courses](
	[id] [uniqueidentifier] NOT NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[course_id] [uniqueidentifier] NULL,
	[course_code] [varchar](100) NULL,
	[course_name] [nvarchar](255) NULL,
	[semester_id] [uniqueidentifier] NULL,
	[semester_code] [nvarchar](100) NULL,
	[academic_year] [nvarchar](20) NULL,
	[is_required] [bit] NULL,
	[group_code] [nvarchar](50) NULL,
	[credits] [decimal](5, 1) NULL,
	[prerequisite_course_id] [uniqueidentifier] NULL,
	[is_prerequisite_required] [bit] NULL,
	[note] [nvarchar](500) NULL,
	[sort_order] [int] NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_programs]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_programs](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NULL,
	[name] [nvarchar](255) NULL,
	[name_en] [nvarchar](255) NULL,
	[major_id] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[degree_level] [nvarchar](50) NULL,
	[education_type] [nvarchar](50) NULL,
	[total_credits] [decimal](5, 1) NULL,
	[required_credits] [decimal](5, 1) NULL,
	[elective_credits] [decimal](5, 1) NULL,
	[internship_credits] [decimal](5, 1) NULL,
	[thesis_credits] [decimal](5, 1) NULL,
	[admission_year] [date] NULL,
	[duration_years] [decimal](5, 1) NULL,
	[max_duration_years] [decimal](5, 1) NULL,
	[effective_date] [date] NULL,
	[expiry_date] [date] NULL,
	[description] [nvarchar](max) NULL,
	[objectives] [nvarchar](max) NULL,
	[learning_outcomes] [nvarchar](max) NULL,
	[version] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/13/2026 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](255) NULL,
	[last_login_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'eece1249-3506-4dc8-8b8a-0495425e6a49', N'AY2017', N'Niên khóa 2017-2020', N'2017-2020', N'Niên khóa từ 2017 đến 2020', CAST(N'2017-09-01' AS Date), CAST(N'2020-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'63b3f5ab-772b-43c1-8cdb-2cba1e8420a3', N'AY2031', N'Niên khóa 2031-2034', N'2031-2034', N'Niên khóa từ 2031 đến 2034', CAST(N'2031-09-01' AS Date), CAST(N'2034-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'49a45afd-8a3f-4163-b137-4bd659b24aa9', N'AY2021', N'Niên khóa 2021-2024', N'2021-2024', N'Niên khóa từ 2021 đến 2024', CAST(N'2021-09-01' AS Date), CAST(N'2024-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a835541a-f0e8-4766-84c2-0abd2bc77e1b', N'TT', N'Khoa Truyền thông', N'Đào tạo truyền thông đa phương tiện', CAST(N'2012-01-01' AS Date), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'3bfc60aa-62e8-4107-abf0-1a436c0b1349', N'NN', N'Khoa Ngoại ngữ', N'Đào tạo ngoại ngữ', CAST(N'2003-01-01' AS Date), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'bc808290-ef1f-472a-b24e-1e4d19380b83', N'LOG', N'Khoa Logistics', N'Đào tạo logistics và chuỗi cung ứng', CAST(N'2016-01-01' AS Date), CAST(N'2026-04-02T17:16:56.1700000' AS DateTime2), CAST(N'2026-04-02T17:16:56.1700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[exam_papers] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [file_url], [is_active], [paper_code], [updated_at], [updated_by]) VALUES (N'4b27dbc8-22ab-425a-b315-cfafe3b294fa', CAST(N'2026-04-15T22:14:17.8767780' AS DateTime2), NULL, NULL, NULL, N'a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a10', N'https://ieacrgscsrqtfxzebqdv.supabase.co/storage/v1/object/public/Exam%20paper%20N10/ST23D_nhom%205_Rmah%20Viu_KichBanTraLoiPV.docx', 1, N'IT_DSA_02', CAST(N'2026-04-16T16:43:36.8554570' AS DateTime2), NULL)
INSERT [dbo].[exam_papers] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [file_url], [is_active], [paper_code], [updated_at], [updated_by]) VALUES (N'70761ebd-9fc0-4500-a4da-d58a614efe11', CAST(N'2026-04-15T22:14:40.5134760' AS DateTime2), NULL, NULL, NULL, N'a0eebc99-9c0b-4ef8-bb6d-6bb9bd380b22', N'https://ieacrgscsrqtfxzebqdv.supabase.co/storage/v1/object/public/Exam%20paper%20N10/ICT2026-conference-template.pdf', 1, N'IT_DB_SQL_01', CAST(N'2026-04-16T16:44:01.8844860' AS DateTime2), NULL)
INSERT [dbo].[exam_papers] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [file_url], [is_active], [paper_code], [updated_at], [updated_by]) VALUES (N'c2571075-073f-4903-b88c-ea6334900a63', CAST(N'2026-04-15T22:14:01.4102670' AS DateTime2), NULL, NULL, NULL, N'550e8400-e29b-41d4-a716-446655440000', N'https://ieacrgscsrqtfxzebqdv.supabase.co/storage/v1/object/public/Exam%20paper%20N10/ICT2026-conference-template.pdf', 1, N'IT_JAVA_01', CAST(N'2026-04-16T16:44:05.0637180' AS DateTime2), NULL)
GO
INSERT [dbo].[exam_registration] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [exam_room_id], [is_active], [roll_number], [student_id], [updated_at], [updated_by]) VALUES (N'c8d4cef0-2d6a-47e9-8db9-35174c37fae4', CAST(N'2026-05-13T22:38:53.2524780' AS DateTime2), NULL, NULL, NULL, N'550e8400-e29b-41d4-a716-446655440000', N'f47ac10b-58cc-4372-a567-0e02b2c3d479', 1, N'121313', N'f47ac10b-58cc-4372-a567-0e02b2c3d471', CAST(N'2026-05-13T22:38:53.2524780' AS DateTime2), NULL)
INSERT [dbo].[exam_registration] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [exam_room_id], [is_active], [roll_number], [student_id], [updated_at], [updated_by]) VALUES (N'bb205a8d-8742-4319-a84f-d9971a65fb63', CAST(N'2026-05-13T22:39:40.6939530' AS DateTime2), NULL, NULL, NULL, N'b0eebc99-9c0b-4ef8-bb6d-6bb9bd380a22', N'a0eebc99-9c0b-4ef8-bb6d-6bb9bd380b21', 1, N'922', N'f47ac10b-58cc-4372-a567-0e02b2c3d471', CAST(N'2026-05-13T22:39:40.6939530' AS DateTime2), NULL)
INSERT [dbo].[exam_registration] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [exam_room_id], [is_active], [roll_number], [student_id], [updated_at], [updated_by]) VALUES (N'eabb9985-00e6-4ad8-8adc-e8d7560673ad', CAST(N'2026-05-13T22:43:49.4597050' AS DateTime2), NULL, NULL, NULL, N'c31d2b35-c984-409e-a339-3720526bb57a', N'550e8400-e29b-41d4-a716-446655440000', 1, N'1111', N'c31d2b35-c984-409e-a339-3720526bb571', CAST(N'2026-05-13T22:43:49.4597050' AS DateTime2), NULL)
GO
INSERT [dbo].[exam_registrations] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [exam_room_id], [is_active], [roll_number], [student_id], [updated_at], [updated_by]) VALUES (N'8d7ac889-d47b-459e-b91f-1de6660dcbbc', CAST(N'2026-05-02T16:59:05.4000000' AS DateTime2), NULL, NULL, NULL, N'f7299efe-f471-409f-ac53-6e03c14e28d5', N'db5a6c73-148c-4810-ae33-7e9406004e9d', 1, N'SBD009', N'f9f2bd8e-94f1-4d34-a6a7-f2d88c033378', NULL, NULL)
INSERT [dbo].[exam_registrations] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [exam_room_id], [is_active], [roll_number], [student_id], [updated_at], [updated_by]) VALUES (N'31c6d7fc-a447-42e8-b7e8-2420de45972c', CAST(N'2026-05-02T16:59:05.4000000' AS DateTime2), NULL, NULL, NULL, N'5ee9d3dd-c998-43e7-93cc-58e1f4d6b227', N'ab1d4590-f67e-4a5c-850f-da5dae0a8651', 1, N'SBD005', N'ecf1f9c9-fd5e-4d05-b8ae-71953b8e80f3', NULL, NULL)
INSERT [dbo].[exam_registrations] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [exam_room_id], [is_active], [roll_number], [student_id], [updated_at], [updated_by]) VALUES (N'2c78e341-bad5-4821-bfd0-29d7526f5ce3', CAST(N'2026-05-02T16:59:05.4000000' AS DateTime2), NULL, NULL, NULL, N'e2c62608-688f-433d-a38e-45f63424b34d', N'18f2d959-7ddf-4670-bbf1-b9073a425492', 1, N'SBD007', N'2302d857-3d7e-4bb8-959d-341c82046f2a', NULL, NULL)
GO
INSERT [dbo].[exam_results] ([id], [appeal_status], [created_at], [created_by], [deleted_at], [deleted_by], [graded_at], [graded_by], [is_active], [is_locked], [registration_id], [score], [status], [updated_at], [updated_by]) VALUES (N'1a9458f5-8a8a-4433-9f43-1176aee359ba', N'Pending', CAST(N'2026-05-02T16:59:41.2033330' AS DateTime2), NULL, NULL, NULL, CAST(N'2026-05-02T16:59:41.2033330' AS DateTime2), NULL, 1, 0, N'fc81e7ba-2586-448a-b128-a2a39bf86d22', 5.5, N'Ð?t', NULL, NULL)
INSERT [dbo].[exam_results] ([id], [appeal_status], [created_at], [created_by], [deleted_at], [deleted_by], [graded_at], [graded_by], [is_active], [is_locked], [registration_id], [score], [status], [updated_at], [updated_by]) VALUES (N'4bb16ceb-4dce-43ff-8ef9-202bb4ba66c6', N'None', CAST(N'2026-05-02T16:59:41.2033330' AS DateTime2), NULL, NULL, NULL, CAST(N'2026-05-02T16:59:41.2033330' AS DateTime2), NULL, 1, 1, N'acd10167-25df-4450-bbb6-912430347dde', 4, N'Không d?t', NULL, NULL)
INSERT [dbo].[exam_results] ([id], [appeal_status], [created_at], [created_by], [deleted_at], [deleted_by], [graded_at], [graded_by], [is_active], [is_locked], [registration_id], [score], [status], [updated_at], [updated_by]) VALUES (N'a51e4277-f391-4f32-8118-53b64c050544', N'None', CAST(N'2026-05-02T16:59:41.2033330' AS DateTime2), NULL, NULL, NULL, CAST(N'2026-05-02T16:59:41.2033330' AS DateTime2), NULL, 1, 1, N'cc2e0fb5-09c0-4acc-91ee-fce7e3923cfc', 0, N'V?ng', NULL, NULL)
GO
INSERT [dbo].[exam_rooms] ([id], [capacity], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [exam_room_name], [is_active], [room_id], [updated_at], [updated_by]) VALUES (N'56300a84-d147-46f1-8769-05a69bb328d0', 50, NULL, NULL, NULL, NULL, N'c31d2b35-c984-409e-a339-3720526bb57a', N'Phòng 102', 1, N'2b2e64c3-2642-4d2a-89b7-07c8a8471f39', NULL, NULL)
INSERT [dbo].[exam_rooms] ([id], [capacity], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [exam_room_name], [is_active], [room_id], [updated_at], [updated_by]) VALUES (N'e05355fd-0fae-4004-9c06-0b095e2c70bd', 45, NULL, NULL, NULL, NULL, N'44d85cba-9187-4b8d-aed9-00588feeabab', N'Phòng 202', 1, N'd31924fe-0907-4b5f-aeb0-9eaba4580c04', NULL, NULL)
INSERT [dbo].[exam_rooms] ([id], [capacity], [created_at], [created_by], [deleted_at], [deleted_by], [exam_id], [exam_room_name], [is_active], [room_id], [updated_at], [updated_by]) VALUES (N'96d932c0-828a-45c5-88d2-1c8560a7f42e', 65, NULL, NULL, NULL, NULL, N'bcb6e9c2-8919-49ed-9949-7a8b4437b2d6', N'Phòng 502', 1, N'3c86a486-0499-4161-b992-a14eabb80f05', NULL, NULL)
GO
INSERT [dbo].[exam_types] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [description], [is_active], [name], [updated_at], [updated_by]) VALUES (N'a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11', CAST(N'2026-04-09T17:30:17.2266670' AS DateTime2), NULL, NULL, NULL, N'Kỳ thi giữa kỳ đánh giá kiến thức nửa học kỳ.', 1, N'Giữa Kỳ', CAST(N'2026-04-16T16:55:01.8912980' AS DateTime2), NULL)
INSERT [dbo].[exam_types] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [description], [is_active], [name], [updated_at], [updated_by]) VALUES (N'a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a12', CAST(N'2026-04-09T17:30:17.2266670' AS DateTime2), NULL, NULL, NULL, N'Kỳ thi cuối kỳ đánh giá toàn bộ kiến thức học kỳ.', 1, N'Cuối Kỳ', CAST(N'2026-04-16T16:55:07.3890140' AS DateTime2), NULL)
INSERT [dbo].[exam_types] ([id], [created_at], [created_by], [deleted_at], [deleted_by], [description], [is_active], [name], [updated_at], [updated_by]) VALUES (N'a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a13', CAST(N'2026-04-09T17:30:17.2266670' AS DateTime2), NULL, NULL, NULL, N'Kỳ thi dành cho sinh viên chưa đạt ở kỳ thi chính.', 1, N'Thi Lại', CAST(N'2026-04-16T16:55:14.5395620' AS DateTime2), NULL)
GO
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'94844a40-f7c5-47f0-864b-00ebe8d79154', N'5890f569-0f42-440b-8fa4-2e88f56fd8c5', N'MJ00017', N'Logistics và Quản lý chuỗi cung ứng 49', N'Ngành đào tạo chuyên sâu 31', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a110231c-019c-46f0-84f8-0205fc7679f8', N'c26c9041-030e-4459-af90-8e81dc2d21a9', N'MJ00023', N'Logistics và Quản lý chuỗi cung ứng 41', N'Ngành đào tạo chuyên sâu 8', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7470b351-d46b-49a2-a7aa-02c53385de85', N'96ee7061-516b-4a25-a787-3780c4bbe82c', N'MJ00033', N'Marketing 19', N'Ngành đào tạo chuyên sâu 38', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'51c01684-ea1a-4bec-be77-065031935cb3', N'USER_VIEW', N'Xem danh sách người dùng', N'USER', N'Cho phép xem danh sách người dùng', CAST(N'2026-04-02T13:38:23.6933333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ea9282f5-90c3-4071-b89d-06a8e482d935', N'CLASS_APPROVE', N'Duyệt lớp học phần', N'CLASS', N'Duyệt mở lớp học phần', CAST(N'2026-04-02T13:41:42.2633333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'3007f48f-2b32-4d0f-b182-08355a33843f', N'ROLE_CREATE', N'Tạo vai trò', N'ROLE', N'Tạo mới vai trò', CAST(N'2026-04-02T13:38:23.6933333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'6917d6aa-bb7f-4612-9e7c-04f0c174213b', N'GV', N'Giảng viên', N'Giảng dạy sinh viên', N'Nhân sự', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a0f31994-f76f-424c-81eb-0575790f68dc', N'AIENG', N'Kỹ sư AI', N'Phát triển AI', N'Kỹ thuật', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'fda6a4a1-2e36-4a8e-b519-125006a7aa95', N'TEST', N'Kiểm thử phần mềm', N'Tester', N'Kỹ thuật', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ed2247d6-8e00-4ad5-85d1-00a67dac9252', N'd81d33a6-e683-4598-9f9a-b4300faf4ccf', N'6b2962cd-278d-4a81-a079-f020f1ae2e9e', CAST(N'2026-04-02T13:59:10.9233333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'c007b5aa-a8b6-4c5b-a45a-02ee46118515', N'bc249543-2fe1-4fdd-bb6f-42a1982caea2', N'02653ecb-41d6-495b-aac0-d137b9340a45', CAST(N'2026-04-02T14:00:01.9600000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'1c3bbf4e-ac52-45da-b15c-09488debb179', N'd81d33a6-e683-4598-9f9a-b4300faf4ccf', N'b041cbbc-5469-476e-bea5-fcd6ae1f168a', CAST(N'2026-04-02T13:59:10.9233333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'891a6149-a667-4965-a9c1-2021df86f733', N'IT_SUPPORT', N'Nhân viên IT', N'Hỗ trợ kỹ thuật hệ thống', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7d5a7247-cb46-417c-b9f5-2be07823d938', N'STUDENT', N'Sinh viên', N'Đăng ký học phần và xem điểm', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'63da3dbc-c052-4ad4-9522-38f937646865', N'LECTURER', N'Giảng viên', N'Giảng dạy và nhập điểm', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[rooms] ([id], [code], [name], [building_id], [floor_floor_number], [capacity], [type], [status], [has_projector], [has_air_conditioner], [has_computer], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'b65a5e3f-5455-42cc-95fc-8c5c26f85aa8', N'R101', N'Phòng 101', N'e44cca2e-bc72-4351-9df8-8b36e41b5d49', 1, 40, N'CLASS', N'AVAILABLE', 1, 1, 1, N'Phòng tiêu chuẩn', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[rooms] ([id], [code], [name], [building_id], [floor_floor_number], [capacity], [type], [status], [has_projector], [has_air_conditioner], [has_computer], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'2b2e64c3-2642-44d2-89b7-07c8a8471f39', N'R102', N'Phòng 102', N'0154ec20-b133-4ada-a08c-4c8245534ab8', 1, 50, N'CLASS', N'AVAILABLE', 1, 1, 1, N'Phòng lớn', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[rooms] ([id], [code], [name], [building_id], [floor_floor_number], [capacity], [type], [status], [has_projector], [has_air_conditioner], [has_computer], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'74d654fa-8804-4d77-8fad-eb3472ab926e', N'R201', N'Phòng 201', N'c149fc32-b1d2-4de2-9ded-802071c82621', 2, 60, N'LAB', N'AVAILABLE', 1, 1, 1, N'Phòng máy', NULL, NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'24806991-3c90-4139-9e47-0e2ceaa05230', N'SY2030', N'Năm học 2030-2031', N'Năm học từ 2030 đến 2031', NULL, CAST(N'2030-09-01' AS Date), CAST(N'2031-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'115fd0d2-2578-4c46-9f0e-0f22f539805e', N'SY2016', N'Năm học 2016-2017', N'Năm học từ 2016 đến 2017', NULL, CAST(N'2016-09-01' AS Date), CAST(N'2017-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ade33bc3-1440-47fd-9a72-3c0a2f8e5813', N'SY2017', N'Năm học 2017-2018', N'Năm học từ 2017 đến 2018', NULL, CAST(N'2017-09-01' AS Date), CAST(N'2018-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e941f638-e0ae-48d8-b0a4-6c356af20048', N'HK1_2014_2015', N'Học kỳ 1 năm học 2014-2015', N'84e45293-813a-4891-b233-b2b66b195c04', N'Năm học 2014-2015', CAST(N'2014-09-01' AS Date), CAST(N'2015-01-15' AS Date), CAST(N'2026-04-02T17:05:26.3333333' AS DateTime2), CAST(N'2026-04-02T17:05:26.3333333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'66112440-b80c-49b9-a774-ae728cd1731a', N'HK2_2014_2015', N'Học kỳ 2 năm học 2014-2015', N'84e45293-813a-4891-b233-b2b66b195c04', N'Năm học 2014-2015', CAST(N'2015-01-16' AS Date), CAST(N'2015-06-30' AS Date), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ec5ca34f-7ff7-43f6-a514-7d3e1acff750', N'HK1_2015_2016', N'Học kỳ 1 năm học 2015-2016', N'21f9301f-e941-480f-9e7c-aa527e5b3be4', N'Năm học 2015-2016', CAST(N'2015-09-01' AS Date), CAST(N'2016-01-15' AS Date), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[user_roles] ([id], [user_id], [role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'5ea294ea-0e8e-498d-95fc-2aef5583351a', N'094e4237-7f71-48d9-91d7-0ec9f54f0b60', N'63da3dbc-c052-4ad4-9522-38f937646865', CAST(N'2026-05-13T23:19:16.4852734' AS DateTime2), CAST(N'2026-05-13T23:19:16.4852734' AS DateTime2), NULL, NULL, CAST(N'2026-05-13T23:20:35.5526098' AS DateTime2), NULL, 0)
INSERT [dbo].[user_roles] ([id], [user_id], [role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'b095ced7-7b28-47b9-97f8-76866fbef471', N'1c415e13-19cf-493f-8e52-032fd22bc10a', N'891a6149-a667-4965-a9c1-2021df86f733', CAST(N'2026-04-19T21:51:32.4200000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[user_roles] ([id], [user_id], [role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'425201b5-f44e-4bbf-858c-ea3691f7d850', N'e1dede16-d3b3-4b52-a78c-1a641f0be470', N'7d5a7247-cb46-417c-b9f5-2be07823d938', CAST(N'2026-05-13T23:12:46.1443989' AS DateTime2), CAST(N'2026-05-13T23:28:58.9745205' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'1c415e13-19cf-493f-8e52-032fd22bc10a', N'user09', N'hash123', N'Trần Văn B4', N'user09@gmail.com', N'0900000009', NULL, CAST(N'2026-04-19T21:58:50.6252966' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e6dc4407-8d7f-4327-9f30-0546b5e334c2', N'user07', N'hash123', N'Trần Văn B2', N'user07@gmail.com', N'0900000007', NULL, CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'0d2ad352-b053-42b2-ae91-0e9ecc17dc35', N'user35', N'hash123', N'User 35', N'user35@gmail.com', N'0900000035', NULL, CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__357D4CF9D6F3D9BF]    Script Date: 5/13/2026 11:51:26 PM ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__357D4CF9DA785384]    Script Date: 5/13/2026 11:51:26 PM ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_role_permissions]    Script Date: 5/13/2026 11:51:26 PM ******/
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [UQ_role_permissions] UNIQUE NONCLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__357D4CF923C64DC4]    Script Date: 5/13/2026 11:51:26 PM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__357D4CF97757F0C5]    Script Date: 5/13/2026 11:51:26 PM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__student___357D4CF930EE21B7]    Script Date: 5/13/2026 11:51:26 PM ******/
ALTER TABLE [dbo].[student_classes] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__student___357D4CF98B720E96]    Script Date: 5/13/2026 11:51:27 PM ******/
ALTER TABLE [dbo].[student_classes] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__students__357D4CF9331E3867]    Script Date: 5/13/2026 11:51:27 PM ******/
ALTER TABLE [dbo].[students] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__students__357D4CF9E19521D8]    Script Date: 5/13/2026 11:51:27 PM ******/
ALTER TABLE [dbo].[students] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_user_roles]    Script Date: 5/13/2026 11:51:27 PM ******/
ALTER TABLE [dbo].[user_roles] ADD  CONSTRAINT [UQ_user_roles] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT ((0)) FOR [min_students]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (N'open') FOR [status]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (N'lecturer') FOR [role]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [is_system]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (N'offline') FOR [mode]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (N'scheduled') FOR [status]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ('active') FOR [schedule_status]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT ('registered') FOR [status]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (getdate()) FOR [registered_at]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ('studying') FOR [status]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT ((1)) FOR [is_required]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (N'active') FOR [status]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_permissions] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_permissions]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_roles]
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD  CONSTRAINT [FKdt1cjx5ve5bdabmuuf3ibrwaq] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[students] CHECK CONSTRAINT [FKdt1cjx5ve5bdabmuuf3ibrwaq]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_roles]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_users]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD CHECK  (([day_of_week]>=(2) AND [day_of_week]<=(8)))
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD CHECK  (([day_of_week]>=(2) AND [day_of_week]<=(8)))
GO
USE [master]
GO
